* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Germany', sans-serif;
}

.hero {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10vh;
}

.call-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, 0.15);
  margin-right: 30px;
  width: 50%;
  height: 100%;
}

.my-logo {
  margin-bottom: 15px;
  height: 100%;
  width: 100%;
  background-image: url("img/Hackeshermarkt.jpeg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border-radius: 10px;
}

.my-phone {
  display: flex;
  font-family: "Germany", sans-serif;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
  padding: 20px 15px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, 0.15);
}

/*Button animation*/

.my-phone:hover {
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.my-phone:hover span {
  transform: scale(0.95);
}

.my-phone-number {
  display: block;
  visibility: hidden;
  color: #dc143c;
  margin: 0;
  font-size: 18px;
  bottom: 0;
}

.my-phone:focus {
  outline: none;
}

/*My main data block*/

.my-main-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex-wrap: wrap;
}

.my-main-data .my-name {
  display: flex;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.my-main-data .my-name a {
  text-decoration: none;
  color: #000000;
}

.my-main-data .my-name .letter-red:hover {
  color: #dc143c;
}

.my-main-data .my-description {
  font-size: 15px;
  font-weight: 400;
  color: #00000081;
  margin: 0;
  align-self: center;
}

@font-face {
  font-family: "Germany";
  src: url("fonts/Germany/Germany.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}