/*Main Settings*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Germany', sans-serif;
}

/*Setting for general block(.root) on the 1st section includes following containers: 
Image(.my-logo), Button(.phone) and some texts*/

.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 10vh 0 10vh 10vh;
}

/*--------Class(.secttion) consists of flex-configurations--------*/

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

/*--------Block(.call-me) includes: image(.my-logo) and button(.phone)--------*/

.call-me {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0px -4px 8px rgba(255, 255, 255, 1),
    0px -4px 12px rgba(255, 255, 255, 0.5),
    inset 0px 4px 8px rgba(255, 255, 255, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.15);
}

/*--------Block with the picture of mine(.my-logo)--------*/

.my-logo {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: 0.5s;
  filter: grayscale(100%), contrast(15%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
}

.my-logo:hover {
  filter: none;
}

/*--------The button(.my-phone) block--------*/

.actions {
  text-align: center;
  padding: 10px 0;
  overflow: hidden;
}

.show-phone {
  font-family: "Germany", sans-serif;
  font-weight: 400;
  font-size: 1vmax;
  letter-spacing: 2px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  outline: none;
  padding: 20px 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 -4px 100px rgba(255, 255, 255, 1),
    0px -4px 40px rgba(255, 255, 255, 0.5),
    inset 0px 2px 80px rgba(255, 255, 255, 0.1),
    0px 2px 14px rgba(0, 0, 0, 0.15)
}

/*--------Button animation--------*/

.show-phone:hover {
  color: #00000081;
}

.show-phone:active {
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.show-phone span {
  display: block;
}

.show-phone:active span {
  transform: scale(0.95);
}

/*--------My main data block(.my-name and .my-description)--------*/

.my-main-data {
  width: 50%;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
}

.my-main-data .my-name {
  font-size: 1.8vmax;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.my-main-data .my-name a {
  text-decoration: none;
  color: #000000;
}

.my-main-data .my-name .attention {
  transition: 0.4s;
}

.attention:hover,
.attention:hover~.attention {
  color: #dc143c;
}

.my-main-data .my-name .attention.lucky-number {
  font-size: 1.5vmax;
}

.my-main-data .my-description {
  font-size: 1.2vmax;
  font-weight: 400;
  color: #00000081;
  margin: 0;
  align-self: center;
  margin-bottom: 5px;
}

.my-phone-number {
  text-decoration: none;
  font-size: 1.7vmax;
  color: #dc143c;
  margin: 0;
  bottom: 0;
}

/*--------For JS--------*/

.unclicked {
  visibility: hidden;
}

/*--------Media query--------*/

/*--------Vertical view--------*/

@media screen and (max-width: 1024px) {

  body {
    overflow: scroll;
  }

  .root {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 5vh;
    width: 100%;
    height: unset;
    padding: 10vh 2vh;
  }

  .section {
    width: 100%;
  }

  .call-me {
    width: 100%;
  }

  .show-phone {
    padding: 15px 7px;
    font-size: 1.2vmax;
    border: none;
    border-radius: 10px;
    box-shadow:
      0px -4px 40px rgba(255, 255, 255, 0.5),
      inset 0px 2px 80px rgba(255, 255, 255, 0.1),
      0px 2px 14px rgba(0, 0, 0, 0.15)
  }

  .show-phone:hover {
    color: #000;
  }

  .my-main-data {
    margin-bottom: 20px;
  }

  .my-main-data .my-name {
    font-size: 2vmax;
  }

  .my-main-data .my-name .attention {
    color: #dc143c;
  }

  .my-main-data .my-name .attention.lucky-number {
    font-size: 1.7vmax;
  }

  .my-main-data .my-description {
    font-size: 1.4vmax;
  }

  .my-phone-number {
    font-size: 1.9vmax;
  }
}

/*--------Horizontal view--------*/

@media screen and (max-height: 480px) {

  body {
    overflow: scroll;
  }

  .root {
    flex-direction: row;
    height: 100%;
    padding: 10vh 5vh;
  }

  .show-phone {
    padding: 15px 7px;
    border: none;
    border-radius: 10px;
    box-shadow:
      0px -4px 40px rgba(255, 255, 255, 0.5),
      inset 0px 2px 80px rgba(255, 255, 255, 0.1),
      0px 2px 14px rgba(0, 0, 0, 0.15);
  }

  .show-phone:hover {
    color: #000;
  }

  .my-main-data .my-name .attention {
    color: #dc143c;
  }
}

/*--------Second section(.container) icludes(left-centered(.container-left-menu) menu block
and right-centered(.container-right-description) description block --------*/
/*
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 10vh;
}

.container-left-menu,
.container-right-description {
  width: 50%;
}

.container-right-description {
  padding-left: 20vh;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-radius: 10px;
  box-shadow: 0px -4px 8px rgba(255, 255, 255, 1),
    0px -4px 12px rgba(255, 255, 255, 0.5),
    inset 0px 4px 8px rgba(255, 255, 255, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.15);
}

.menu-list_root {
  padding: 2vh;
  padding-right: 5vh;

}

.menu-list_root-title {
  font-size: 3vh;
  color: #000;
  border-color: transparent;
  border-bottom-color: #000;
}
*/
/*--------Description--------*/
/*
.description-item_about,
.description-item_position,
.description-item_achievments,
.description-item_example {
  display: none;
}
*/

/*--------Fonts--------*/

@font-face {
  font-family: "Germany";
  src: url("fonts/Germany/Germany.woff") format("woff"), url("fonts/Germany/Germany.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}


.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10vh 0 10vh 10vh;
}

.container-left-menu,
.container-right-description {
  width: 50%;
}

.container-right-description {
  border-right: 1px solid #000;
}

.container-right-description {
  font-size: 3vh;
  padding-right: 15vh;
  line-height: 4vh;
  text-align: right;
}


.container-left-menu {
  padding: 2vh;
  padding-left: 15vh;
  text-align: left;
  letter-spacing: 2px;
  font-size: 3vh;
}